// app整个背景的颜色
$--color-background: #1a7ee1;

$--bg-color: #000000;
$--bg-color-hover: red;
$--color-text: #ffffff;

$--color-gradient-azue-lane: inear-gradient(to right, rgb(127, 127, 213), rgb(134, 168, 231), rgb(145, 234, 228));
